/* ExplanationModal.css */
.custom-modal .modal-content {
  background-color: #f4f4f9;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.custom-modal .modal-header {
  background-color: #0056b3;
  color: white;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px 10px 0 0;
}

.custom-modal .modal-title {
  font-weight: bold;
}

.custom-modal .modal-body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.custom-modal ul {
  padding-left: 20px;
}

.custom-modal ul li {
  margin-bottom: 8px;
}

.custom-modal .modal-footer {
  background-color: #f4f4f9;
  border-top: 1px solid #d1d1d1;
  border-radius: 0 0 10px 10px;
}

.custom-modal button {
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}

.custom-modal button:hover {
  background-color: #004080;
}
