#root {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../assets/fonts/Ubuntu-Regular.ttf") format("ttf");
}
.vh-60 {
  height: 60vh !important;
}
